<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME/Get a Certificate</title>
</head>
<body>
<div class="row" style = "background: #80cbc4 ;
                          border-radius: 25px;
                          padding: 20px;
                          width: 800px;
                          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                          position: relative;
                          top:15px;
                          left: 200px">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <span class="card-title"><h1><strong>Select The Next Step</strong></h1><h2>+ Free, Secure, Easy to Use.</h2></span>
                <img src="https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/26Ew/image/5fL1LgVs8tYIPfVMUgQl30Aq-MM.png" width = "800" height = "500">
            </div>
            <div class="card-content">
                <p><h3>A blockchain is more than a technology. It's a strategy. </h3></p>
            </div>
            <div class="card-action">
                <a href="index"><button style = "background-color: white; font-size: 16px; width: 200px; height: 50px "><bold>Issue a certificate</bold></button></a>
                <a href="introduction"><button style = "background-color: white; font-size: 16px; width: 200px; height: 50px"><bold>What is <strong>BlockChain</strong> certificate ? </bold></button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
