<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
</head>
<body>

<div class="row" style = "background: #bcaaa4 ;
                          border-radius: 25px;
                          padding: 20px;
                          width: 800px;
                          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                          position: relative;
                          top:15px;
                          left: 200px">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <span class="card-title"><h1><strong>Welcome!</strong></h1><h2>+ Please Enter Your ID and Password.</h2></span>
                <img src="http://images.atelier.net/sites/default/files/imagecache/scale_crop_587_310/articles/442231/atelier-blockchain.jpg" width = "700" height = "300">
            </div>
            <div class="card-action">
                <form name="login" action="login/check" method="post">
                    <p>ID : <input type="text" name="ID" /></p>
                    <p>Password : <input type="password" name="PWD"/></p>
                    <input type="submit" value="LOG IN"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>