<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to pay</title>
</head>
<body>

<div class="row" style = "background: #fff59d ;
                          border-radius: 25px;
                          padding: 20px;
                          width: 800px;
                          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                          position: relative;
                          top:15px;
                          left: 200px">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <span class="card-title"><h1><strong>Select how you would like to pay</strong></h1></span>
            </div>
            <div class="card-content">
                <a href="card"><button style = "background-color: white; font-size: 16px; width: 200px; height: 50px ">Credit Card Payment</button></a>
                <p></p>
                <a href="cash"><button style = "background-color: white; font-size: 16px; width: 200px; height: 50px ">Transferring Money</button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>